* {
  font-family: "Source Sans 3", sans-serif;
}

.outer {
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  /*background-color: yellow;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.itemContainer {
  /*background-color: green;*/
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  gap: 15px;
  width: 100%;
  max-width: 1100px;
  color: rgb(43, 59, 80);
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0 0 1px 1px rgb(173, 173, 173);
  border-radius: 5px;
  margin-bottom: 20px;
}

.header {
  color: rgb(129, 129, 129);
  margin-bottom: 5px;
}

.name {
  /*background-color: purple;*/
  font-size: 1.1rem;
  width: 50%;
}

.price {
  /*background-color: aqua;*/
  font-size: 1.2rem;
  width: 10%;
}

.site_name {
  /*background-color: bisque;*/
  font-size: 1.1rem;
  width: 8%;
}

.last_check {
  /*background-color: brown;*/
  font-size: 0.9rem;
  width: 15%;
}

.removeBtn {
  /*background-color: orange;*/
  height: 30px;
  width: 80px;
  align-self: center;
  background-color: rgba(255, 111, 111, 0.712);
  border: 1px solid rgba(0, 0, 0, 0.438);
  font-size: 0.9rem;
  border-radius: 4px;
  transition: all 0.05s linear;
}

.removeBtn:hover {
  background-color: rgba(236, 26, 26, 0.822);
  color: aliceblue;
}

.removeBtn:active {
  transform: scale(0.9);
}

.last_check > p[id="lastCheck"] {
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.navbar {
  position: sticky;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgba(201, 201, 201, 0.274);
  box-shadow: 2px 0 2px 1px rgb(179, 179, 179);
}

.form {
  width: 60%;
}

.counter {
  font-size: 1.5rem;
  color: rgb(43, 59, 80);
}

.refresh {
  height: 30px;
  width: 80px;
  align-self: center;
  background-color: rgba(193, 240, 165, 0.712);
  border: 1px solid rgba(0, 0, 0, 0.438);
  font-size: 0.9rem;
  border-radius: 4px;
  transition: all 0.05s linear;
  box-shadow: 1px 1px 1px 0 rgb(179, 179, 179);
}

.refresh:hover {
  transform: translateY(-2px);
  background-color: rgba(164, 235, 122, 0.712);
}

.refresh:active {
  transform: scale(0.9);
  background-color: rgba(139, 243, 79, 0.712);
}

.input {
  border: 1px solid rgba(128, 125, 125, 0.438);
  width: 80%;
  border-radius: 7px;
  height: 30px;
  padding-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 1px 1px 0 rgb(179, 179, 179);
}

.empty {
  width: 500px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(122, 122, 122, 0.514);
}

.empty > ul {
  list-style-type: none;
}

.empty > p {
  margin-bottom: 7px;
}

.empty a {
  color: blue;
  margin-bottom: 5px;
}
