* {
  font-family: "Source Sans 3", sans-serif;
}

.outer {
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.inner {
  /*background-color: yellow;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemContainer {
  /*background-color: green;*/
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  gap: 15px;
  width: 100%;
  max-width: 1100px;
  color: rgb(43, 59, 80);
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0 0 4px 1px rgb(173, 173, 173);
  border-radius: 5px;
  margin-bottom: 20px;
}

.header {
  color: rgb(129, 129, 129);
  margin-bottom: 5px;
}

.name {
  /*background-color: purple;*/
  font-size: 1.1rem;
  width: 50%;
}

.price {
  /*background-color: aqua;*/
  font-size: 1.2rem;
  width: 10%;
}

.site_name {
  /*background-color: bisque;*/
  font-size: 1.1rem;
  width: 8%;
}

.last_check {
  /*background-color: brown;*/
  font-size: 0.9rem;
  width: 15%;
}

.removeBtn {
  /*background-color: orange;*/
  height: 30px;
  width: 80px;
  align-self: center;
  background-color: rgba(255, 111, 111, 0.712);
  border: 1px solid rgba(0, 0, 0, 0.438);
  font-size: 0.9rem;
  border-radius: 3px;
}

.removeBtn:hover {
  background-color: rgba(97, 7, 7, 0.712);
  color: aliceblue;
}

.last_check > p[id="lastCheck"] {
  margin-top: 10px;
}
